services:
  - type: worker
    name: fambot
    env: python
    region: Moscow  # Можно выбрать ближайший
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: python main.py
    autoDeploy: true
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: PYTHONUNBUFFERED
        value: "true"
      - key: TZ
        value: "Europe/Moscow"
    numInstances: 1
