version: "1"
services:
  - type: worker
    name: fambot
    env: python
    region: frankfurt
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: python main.py
    autoDeploy: true
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: PYTHONUNBUFFERED
        value: "true"
      - key: TZ
        value: "Europe/Moscow"
      # Если используете SQLite, добавьте переменную для хранения данных
      - key: DATABASE_URL
        value: "sqlite:///data/bot.db"
    numInstances: 1
    disk:
      name: data
      mountPath: /data
      sizeGB: 1
